/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #101322;
}

::-webkit-scrollbar-thumb {
    background: #232948;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3e477a;
}